.student-card {
  display: flex;
  max-width: 360px;
  padding: 16px;
  border: 2px dotted darkgrey;
  border-radius: 16px;
  flex-direction: column;
  gap: 8px;
}

.student-card__name {
  margin: 0;
}

.student-card__age::before {
  color: darkgrey;
  content: 'Возраст:';
}

.student-card__age {
  display: flex;
  column-gap: 8px;
}
