@import url(./student-card.css);
@import url(./button.css);

body {
  font-family: sans-serif;
}

.students-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  gap: 16px;
}
